body {
  font-family: "urbanist", sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}
h1 {
  color: #333;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 90px;
}

button:hover {
  background: #218838;
}

h2 {
  margin-top: 20px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}
